* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    margin-top: 25px;
    width: 600px;
    padding: 10px;
}

.post {
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 0;
    background: cadetblue;
    color: aliceblue;
    box-shadow: 3px 3px 4px 2px rgba(0, 0, 0, 0.2);
}

.post button {
    margin-top: 10px;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 250ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-750px);
    opacity: 0.2;
    transition: all 250ms ease-in;
}
